<!DOCTYPE html>
<html>
  <head>
    <title>Blog</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class="<%= controller.controller_name %>">
    <div id="banner">
      <%= image_tag("test.png") %>
      <h1><%=@page_title || "Blog in Development"%></h1>
    </div>
    <div id="columns">
      <div id="side">
        <ul>
          <li><%= link_to 'Home', blog_path %></li>
          <li><%= link_to 'Tags', blog_path %></li>
        </ul>
        <% if session[:user_id]%>
          <ul>
            <li><%= link_to 'Posts', posts_path %></li>
            <li><%= link_to 'Users', users_path %></li>
          </ul>
          <%= button_to 'Logout', logout_path, method: :delete %>
        <% end %>
      </div>
      <div id="main">
        <%= yield %>
      </div>
    </div>
  </body>
</html>
